<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ([^/]*)/?([^/]*)?(.*)$ index.php?page=$1&id=$2&id2=$3 
RewriteRule ^admin/login$ index.php?page=login&id=admin&id2=$3 [L,QSA]


Options All -Indexes
</IfModule>
