<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ([^/]*)/?([^/]*)?(.*)$ index.php?page=$1&id=$2&id2=$3


Options All -Indexes
</IfModule>
